@keyframes moveBackground {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-40px); 
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes moveBackground2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); 
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.spinAnimate {
  animation: spin linear 4s infinite;
}
@media only screen and (min-width: 520px) and (max-width: 640px) {
    .TeacherFeatureImg{
      width: 65%;
      margin-left: 0;
    }
}