/* TESTIMONIAL CSS STARTS */

.swiper {
    width: 90%;
    height: 100%;
  }
.swiper-pagination{
    margin-top: 2% ;
    position: relative !important;
}
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #eeeeee;
    border-radius: 2%;
  
    /* Center slide text vertically */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

/* TESTIMONIAL CSS ENDS */

/* BENEFITS CSS STARTS */
@keyframes bgmove {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px); 
    }
    100% {
        transform: translateY(0);
    }
}

.animate-bgmove {
    animation: bgmove 2s linear infinite alternate;
}

@keyframes bgmove2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20px); 
    }
}

.animate-bgmove2 {
    animation: bgmove2 1s linear infinite alternate;
}


/* BENEFITS CSS ENDS */