/* TESTIMONIAL CSS STARTS */

.NeetaSwiper .swiper {
    width: 90%;
    height: 100%;
    padding: 6px;
  }
  .NeetaSwiper .swiper-pagination{
    margin-top: 2% ;
    position: relative !important;
}
  
.NeetaSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    border-radius: 2%;
    box-shadow:0 1px 3px 3px #003366; 
  }

/* TESTIMONIAL CSS ENDS */

/* BENEFITS CSS STARTS */
@keyframes bgmove {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px); 
    }
    100% {
        transform: translateY(0);
    }
}

.animate-bgmove {
    animation: bgmove 2s linear infinite alternate;
}

@keyframes bgmove2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20px); 
    }
}

.animate-bgmove2 {
    animation: bgmove2 1s linear infinite alternate;
}


/* BENEFITS CSS ENDS */


/* HEADER MODAL CSS */
.nav-modal {
    position: fixed;
    box-shadow: 0px 0px 3px rgb(184, 184, 184);
    padding: 0;
    margin: 0;
    width: 15rem;
    z-index: 2000;
    transition: all 1s;
    border-radius: 5px;
  }
  

/* ENDS HERE */