/* TESTIMONIAL CSS STARTS */

.swiper {
    width: 90%;
    height: 100%;
  }
.swiper-pagination{
    margin-top: 2%;
    position: relative;
}
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #7773735d;
    border-radius: 2%;
  
    /* Center slide text vertically */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */


/* TESTIMONIAL CSS ENDS */